<main>
  <h5>Chat</h5>
  <app-message-new [voteId]="voteId"></app-message-new>
  <ul class="timeline">
    <li *ngFor="let m of messages">
      <div class="timeline-badge">
        <a><i class="fa fa-circle" [ngClass]="{system: m.isSystemMessage}" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>{{ m.isSystemMessage ? 'Systemnachricht' : 'von ' + m.createdBy.name }}</h4>
        </div>
        <div class="timeline-body">
          <p>{{ m.message }}</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">{{ m.createdAt | date:'fullDate' }}</p>
        </div>
      </div>
    </li>
    <li class="clearfix no-float"></li>
  </ul>
</main>
