<section>
  <h5>Ideen zur Abstimmung</h5>
  <div class="row" (window:resize)="onResize($event)">
    <div class="col s12" [ngClass]="colNum" *ngIf="vote && vote.currentPhase === iPhase.PLANNED">
      <div class="card">
        <div class="card-image">
          <img
            src="http://i.marketingprofs.com/assets/images/articles/lg/130521-Baby-Thinking-An-Idea-lg.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Hast du eine Idee?</span>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" [routerLink]="['/vote', vote.id, 'new-idea']">Neue Idee erfassen</a>
        </div>
      </div>
    </div>
    <div class="col s12" [ngClass]="colNum" *ngFor="let idea of ideas">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{idea.name}}
            <i class="material-icons right" *ngIf="vote && vote.currentPhase === iPhase.PLANNED">more_vert</i>
          </span>
        </div>
        <div class="card-reveal" *ngIf="vote && vote.currentPhase === iPhase.PLANNED">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <a class="btn-floating waves-effect waves-light default" [routerLink]="['/vote', vote.id, 'idea', idea.id, 'edit']"><i class="material-icons">edit</i></a>
          <a class="btn-floating waves-effect waves-light red" (click)="removeIdea(idea)"><i class="material-icons">delete</i></a>
        </div>
        <div class="card-action" *ngIf="vote && vote.currentPhase === iPhase.RUNNING">
          <div class="chip">
            Deine Votes: {{getMyVoteCount(idea)}}
          </div>
          <a class="btn-floating waves-effect waves-light default" (click)="voteUp(idea)"><i class="material-icons">add</i></a>
          <a class="btn-floating waves-effect waves-light red" (click)="voteDown(idea)"><i class="material-icons">remove</i></a>
        </div>
      </div>
    </div>
  </div>
</section>

