<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a [routerLink]="['/votes', { phase: currentPhase }]" class="breadcrumb">Abstimmungen</a>
      <a *ngIf="vote" [routerLink]="['/vote', vote.id]" class="breadcrumb">{{vote.name}}</a>
      <span *ngIf="vote" class="breadcrumb">Abstimmung Bearbeiten</span>
      <span *ngIf="!vote" class="breadcrumb">Neue Abstimmung</span>
    </div>
  </div>
</nav>
<br>
<main>
  <form class="container" (ngSubmit)="onSubmit()" #voteForm="ngForm">

    <div class="row">
      <div class="input-field col s12">
        <input id="name"
               type="text"
               name="name"
               class="validate"
               [ngClass]="{invalid: !name.pristine && !name.valid, valid: name.valid  }"
               [(ngModel)]="model.name"
               #name="ngModel"
               required>
        <label for="name" [ngClass]="{active: vote}">Name der Abstimmung</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="description"
               name="description"
               type="text"
               class="validate"
               [ngClass]="{invalid: !description.pristine && !description.valid, valid: description.valid  }"
               [(ngModel)]="model.description"
               #description="ngModel"
               required>
        <label for="description" data-error="Bitte gueltige Beschreibung angeben" [ngClass]="{active: vote}">Beschreibungstext
          der
          Abstimmung</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="imageUrl"
               name="imageUrl"
               type="text"
               class="validate"
               [ngClass]="{invalid: !imageUrl.pristine && !imageUrl.valid, valid: imageUrl.valid  }"
               [(ngModel)]="model.imageUrl"
               #imageUrl="ngModel"
               required
               pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
        <label for="imageUrl" data-error="Bitte gueltige URL angeben" [ngClass]="{active: vote}">Bitte gibt die URL zum
          Bild ein
          (http://deinbild.png)</label>

        <img *ngIf="model.imageUrl" [src]="model.imageUrl"
             alt="Abstimmungsbild" style="max-width: 200px;">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="votesPerUser"
               name="votesPerUser"
               type="number"
               class="validate"
               [ngClass]="{invalid: !votesPerUser.pristine && !votesPerUser.valid, valid: votesPerUser.valid  }"
               [(ngModel)]="model.votesPerUser"
               #votesPerUser="ngModel"
               required
               pattern="[1-9]{1}">
        <label for="votesPerUser" data-error="Bitte Wert zwischen 1 und 9 angeben" [ngClass]="{active: vote}">Anzahl
          Stimmen pro Benutzer</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <label>Ideen einreichen bis zum</label><br>
        <input
          id="ideasTo"
          name="ideasTo"
          type="date"
          class="validate"
          [ngClass]="{invalid: !ideasTo.pristine && !ideasTo.valid, valid: ideasTo.valid  }"
          [(ngModel)]="model.ideasTo"
          #ideasTo="ngModel"
          required>
        <label for="ideasTo" data-error="Bitte gueltiges Datum angeben" [ngClass]="{active: vote}"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <label>Abstimmen bis zum</label><br>
        <input
          id="votesTo"
          name="votesTo"
          type="date"
          class="validate"
          [ngClass]="{invalid: !votesTo.pristine && !votesTo.valid, valid: votesTo.valid  }"
          [(ngModel)]="model.votesTo"
          #votesTo="ngModel"
          required>
        <label for="votesTo" data-error="Bitte gueltiges Datum angeben" [ngClass]="{active: vote}"></label>
      </div>
    </div>

    <div class="row">
      <button class="btn" type="submit" [disabled]="!voteForm.form.valid">
        {{ !vote ? 'Abstimmung einleiten' : 'Abstimmung aktualisieren'}}
      </button>
    </div>
  </form>
</main>
