<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a [routerLink]="['/votes', { phase: currentPhase }]" class="breadcrumb">Abstimmungen</a>
      <a *ngIf="vote" [routerLink]="['/vote', vote.id]" class="breadcrumb">{{ vote.name }}</a>
      <span *ngIf="idea" class="breadcrumb">Idee Bearbeiten</span>
      <span *ngIf="!idea" class="breadcrumb">Neue Idee</span>
    </div>
  </div>
</nav>
<br>
<main>
  <form class="container" (ngSubmit)="onSubmit()" #voteForm="ngForm">

    <div class="row">
      <div class="input-field col s12">
        <input id="name"
               type="text"
               name="name"
               class="validate"
               [ngClass]="{invalid: !name.pristine && !name.valid, valid: name.valid  }"
               [(ngModel)]="model.name"
               #name="ngModel"
               required>
        <label for="name" [ngClass]="{active: idea}">Idee</label>
      </div>
    </div>

    <div class="row">
      <button class="btn" type="submit" [disabled]="!voteForm.form.valid">
        Speichern
      </button>
    </div>
  </form>
</main>
