<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a [routerLink]="['/votes']" class="breadcrumb">Abstimmungen</a>
    </div>
  </div>
</nav>
<br>
<main>
  <section class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4">
          <a (click)="setDisplayPhase(iPhase.PLANNED)"
             [ngClass]="{active: displayPhase == iPhase.PLANNED}"
             href="#PLANNED">
            Abstimmungen und Ideen hinzufügen</a>
        </li>
        <li class="tab col s4">
          <a (click)="setDisplayPhase(iPhase.RUNNING)"
             class="active"
             [ngClass]="{active: displayPhase == iPhase.RUNNING}"
             href="#RUNNING">
            Für Ideen voten</a>
        </li>
        <li class="tab col s4">
          <a (click)="setDisplayPhase(iPhase.ENDED)"
             [ngClass]="{active: displayPhase == iPhase.ENDED}"
             href="#ENDED">
            Resulate anschauen</a>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="row" (window:resize)="onResize($event)">
      <div class="col s12" [ngClass]="colNum" [hidden]="displayPhase !== iPhase.PLANNED">
        <div class="card">
          <div class="card-image">
            <br>
            <img class="add-image"
              src="http://www.clipartkid.com/images/158/clipartbest-com-heiVQJ-clipart.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              Willst du Abstimmen lassen?
            </span>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn red" [routerLink]="['/vote/new']">Neue Abstimmung eintragen</a>
          </div>
        </div>
      </div>
      <div class="col s12" [ngClass]="colNum" *ngFor="let vote of votes">
        <div class="card">
          <div class="card-image">
            <img [src]="vote.imageUrl">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{vote.name}}</span>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn" [routerLink]="['/vote', vote.id]">Zur Abstimmung</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
