<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Vote-It-Up</span>
    <ul class="right" *ngIf="dataService.currentUser">
      <li>
        Hallo {{ dataService.currentUser.name }}
      </li>
    </ul>
  </div>
  <br>
</nav>
<br>
<router-outlet></router-outlet>
