<main>
  <form class="container" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <h4>Bitte gib deinen Namen ein:</h4>

    <div class="row">
      <div class="input-field col s12">
        <input id="name"
               type="text"
               name="name"
               class="validate"
               [ngClass]="{invalid: !login.pristine && !login.valid, valid: login.valid  }"
               [(ngModel)]="username.name"
               #login="ngModel"
               required>

        <label for="name">Wie ist dein Name?</label>
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="!loginForm.form.valid">
      Anmelden
    </button>
  </form>
</main>
