<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a *ngIf="vote" [routerLink]="['/votes', { phase: vote.currentPhase }]" class="breadcrumb">Abstimmungen</a>
      <span *ngIf="vote" [routerLink]="['/vote', vote.id]" class="breadcrumb">{{vote.name}}</span>
    </div>
  </div>
</nav>
<br>
<main>
  <div class="row">
    <h4>Abstimmungsdetails</h4>
    <div class="col s4">
      <img *ngIf="vote && vote.imageUrl" class="responsive-img" [src]="vote?.imageUrl">
    </div>
    <div class="col s6">
      <table class="striped">
        <tr>
          <td>Abstimmung</td>
          <td>{{vote?.name}}</td>
        </tr>
        <tr>
          <td>Author</td>
          <td>{{vote?.createdBy.name}}</td>
        </tr>
        <tr>
          <td>Beschreibung</td>
          <td>{{vote?.description}}</td>
        </tr>
        <tr>
          <td>Stimmen pro Benutzer</td>
          <td>{{vote?.votesPerUser}}</td>
        </tr>
        <tr>
          <td>Ende der Ideensammlung</td>
          <td>{{vote?.ideasTo  }}</td>
        </tr>
         <tr>
          <td>Ende der Abstimmung</td>
          <td>{{vote?.votesTo }}</td>
        </tr>
      </table>
    </div>
    <div class="col s2">
      <div [hidden]="!visible">
        <a class="btn-floating btn-large waves-effect waves-light default" (click)="navigateToEditVote()"><i class="material-icons">edit</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red" (click)="navigateToRemoveVote()"><i class="material-icons">delete</i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m8 s12">
      <app-idea-list *ngIf="vote && vote.currentPhase !== iPhase.ENDED" [vote]="vote"></app-idea-list>
      <app-bubble *ngIf="vote && vote.currentPhase === iPhase.ENDED" [vote]="vote"></app-bubble>
    </div>
    <div class="col m4 s12">
      <app-message-list *ngIf="vote" [voteId]="vote.id"></app-message-list>
    </div>
  </div>
</main>
