table {
    width: 100%;
}

td:first-child {
  width: 1px;
  white-space: nowrap;
  font-weight: bold;
}

th, td {
    padding-left: 15px;
    text-align: left;
}

.btn-floating {
  float: right;
}

.btn-floating {
    margin-left: 5px;
}
